/*
 * TurnKey Etherpad settings.json file.
 *
 * Please see Etherpad settings.json.template for original layout with more
 * detailed comments and all available options valid for this version.
 *
 * This file must be valid JSON. But comments are allowed
 *
 * Please edit settings.json, not settings.json.template
 *
 * Please note that starting from Etherpad 1.6.0 you can store DB credentials in
 * a separate file (credentials.json).
 */
{
  /* Main settings. */

  "title": "Etherpad - Powered by TurnKey Linux",

  "favicon": "favicon.ico",

  "skinName": "colibris",
  "skinVariants": "super-light-toolbar super-light-editor light-background",

  "ip": "127.0.0.1",
  "port": 9001,

  "showSettingsInAdminPage": true,

  "dbType": "mysql",
  "dbSettings": {
    "user":     "etherpad",
    "host":     "localhost",
    "port":     3306,
    "password": "UNSET",
    "database": "etherpad",
    "charset" : "utf8mb4"
  },

  "defaultPadText" : "Welcome to TurnKey Etherpad!\n\nThis pad text is synchronized as you type, so that everyone viewing this page sees the same text. This allows you to collaborate seamlessly on documents!\n\nRelease notes: https:\/\/www.turnkeylinux.org\/etherpad\n",


  /* Default Pad behavior. */

  "padOptions": {
    "noColors":         false,
    "showControls":     true,
    "showChat":         true,
    "showLineNumbers":  true,
    "useMonospaceFont": false,
    "userName":         false,
    "userColor":        false,
    "rtl":              false,
    "alwaysShowChat":   false,
    "chatAndUsers":     false,
    "lang":             "en-gb"
  },

  /* Pad Shortcut Keys */

  "padShortcutEnabled" : {
    "altF9":     true, /* focus on the File Menu and/or editbar */
    "altC":      true, /* focus on the Chat window */
    "cmdShift2": true, /* shows a gritter popup showing a line author */
    "delete":    true,
    "return":    true,
    "esc":       true, /* in mozilla versions 14-19 avoid reconnecting pad */
    "cmdS":      true, /* save a revision */
    "tab":       true, /* indent */
    "cmdZ":      true, /* undo/redo */
    "cmdY":      true, /* redo */
    "cmdI":      true, /* italic */
    "cmdB":      true, /* bold */
    "cmdU":      true, /* underline */
    "cmd5":      true, /* strike through */
    "cmdShiftL": true, /* unordered list */
    "cmdShiftN": true, /* ordered list */
    "cmdShift1": true, /* ordered list */
    "cmdShiftC": true, /* clear authorship */
    "cmdH":      true, /* backspace */
    "ctrlHome":  true, /* scroll to top of pad */
    "pageUp":    true,
    "pageDown":  true
  },

  "suppressErrorsInPadText": false,

  "requireSession": false,
  "editOnly": false,
  "sessionNoPassword": false,
  "minify": true,
  "maxAge": 21600, // 60 * 60 * 6 = 6 hours

  /* Abiword or Libre Office are required for advanced export features.
   * Neither are pre-installed in TurnKey Etherpad appliance, but can be
   * easily installed by following the notes found at:
   * https://www.turnkeylinux.org/etherpad
   */

  "abiword": null,
  "soffice": null,

  "tidyHtml": "/usr/bin/tidy",

  "allowUnknownFileEnds": true,

  "requireAuthentication": false, /* Note: "/admin" always requires authentication. */

  "requireAuthorization": false,

  "trustProxy": true,

  "disableIPlogging": false,

  "automaticReconnectionTimeout": 0,

  "scrollWhenFocusLineIsOutOfViewport": {
    "percentage": {
      "editionAboveViewport": 0,
      "editionBelowViewport": 0
    },

    "duration": 0,

    "scrollWhenCaretIsInTheLastLineOfViewport": false,

    "percentageToScrollWhenUserPressesArrowUp": 0
  },

  "users": {
    "admin": {
      "hash": "UNSET_PASS",
      "is_admin": true
    },
    "user": {
      "hash": "UNSET_PASS",
      "is_admin": false
    }
  },

  "socketTransportProtocols" : ["xhr-polling", "jsonp-polling", "htmlfile"],
  "loadTest": false,
  "indentationOnNewLine": false,

  "importExportRateLimiting": {
    // duration of the rate limit window (milliseconds)
    "windowMs": 90000,

    // maximum number of requests per IP to allow during the rate limit window
    "max": 10
  },

  "importMaxFileSize": 52428800, // in bytes; default = 50MB: 50 * 1024 * 1024

  "allowAnyoneToImport": false, 

  "commitRateLimiting": {
    // duration of the rate limit window (seconds)
    "duration": 1,

    // maximum number of chanes per IP to allow during the rate limit window
    "points": 10
  },


  /*
   * Toolbar buttons configuration.
   *
   * Uncomment to customize.
   */

  /*
  "toolbar": {
    "left": [
      ["bold", "italic", "underline", "strikethrough"],
      ["orderedlist", "unorderedlist", "indent", "outdent"],
      ["undo", "redo"],
      ["clearauthorship"]
    ],
    "right": [
      ["importexport", "timeslider", "savedrevision"],
      ["settings", "embed"],
      ["showusers"]
    ],
    "timeslider": [
      ["timeslider_export", "timeslider_returnToPad"]
    ]
  },
  */

  "exposeVersion": false,

  "loglevel": "INFO",
  "logconfig" :
    { "appenders": [
        { "type": "console"
        //, "category": "access"// only logs pad access
        }

      , { "type": "logLevelFilter"
        , "level": "warn"
        , "appender":
          {  "type": "file",
             "filename": "/var/log/etherpad/etherpad.log",
             "maxLogSize": 1024,
             "backups": 3 // how many log files there're gonna be at max
          },
        }

      ]
    }, // logconfig

  "customLocaleStrings": {}
}
